*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    height: 200px;
    width: 300px;
    box-shadow: 3px 3px 16px rgba(0,0,0,.7);
    overflow: hidden;
}

.images img{
    height: 100%;
    width: 100%;
}