<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Македонска берза</title>
    {%block css_files%} {% endblock %}
</head>
<body>
<div class="top-bar">
    <div class="secondary-cta">
        <div class="hover"></div>
        <div class="log-in">Најави се</div>
    </div>
    <div class="sign-up">Регистрирај се</div>

    <div class="wallet-logo">
        <div class="frame"></div>
        <div class="wallet">Македонска берза</div>
    </div>
</div>

    {%block content%}

    {% endblock%}
</body>
</html>