{% load static %}
<!DOCTYPE html>
<html lang="mk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профил - СтокС.мк</title>
  <link rel="stylesheet" href="{% static "app/dashboard_page.css" %}">
</head>


<body>
<!-- Sidebar -->
<div class="sidebar">
{#    href="{% static "app/dashboard.css" %}"#}
  <img src="{% static "app/images/logo.png" %}" alt="СтокС.мк">
  <nav>

    <a href="{% url 'starting-page' %}">Почетна</a>
    <a href="#">Омилени(ne raboti)</a>
    <a href="#">Профил(ne raboti)</a>
    <a href="{% url 'user-logout' %}">Одјави се</a>
  </nav>
</div>

<!-- Main Content -->
<div class="main">
  <div class="profile">
    <img src="profile.png" alt="Profile">
    <span>{{ username }}</span>
  </div>
  <h1>Добредојдовте, {{ username }}.</h1>
  <p>
    Ова е вашиот профил, тука можете да ги следите вашите активности,
    да добивате информации, користејќи разновидни алатки создадени за
    детална анализа, кои ги нудиме.
  </p>

  <div class="search-bar">
    <form method="GET" action="{% url 'search-results-page-vizuelizacija' %}">
        <input type="text" name="query" placeholder="Пребарај" required>
        <button type="submit">Пребарај</button>
    </form>
  </div>

{#  <div class="search-bar">#}
{#    <input type="text" placeholder="Пребарај">#}
{#    <button>Пребарај</button>#}
{#  </div>#}
</div>

<!-- Footer -->
<div class="footer">
  © 2024 СтокС.мк
</div>
</body>
</html>
