/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #2B2B2B;
    color: white;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2B2B2B;
}

.wallet-logo {
    font-size: 24px;
    font-weight: 600;
}

.sign-up,
.secondary-cta {
    font-size: 16px;
    background: #333333;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.secondary-cta {
    font-size: 16px;
    background: #BFAFF2;
    padding: 10px 20px;
    border-radius: 15px;
    color: #333333;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.header {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.text {
    max-width: 500px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 30px;
}

.primary-cta {
    background: #F8D57E;
    padding: 10px 20px;
    border-radius: 15px;
    color: #333333;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.image img {
    max-width: 100%;
    border-radius: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }

    .primary-cta {
        font-size: 16px;
    }

    .wallet-logo {
        font-size: 20px;
    }

    .sign-up,
    .secondary-cta {
        font-size: 14px;
    }
}
